<div class="log-container">
  <div class="top-panel">
      
      <div class="percent">100%</div>
      <div class="battery"></div>
     
    <div class="time">9:41 AM</div>
    <div class="dot-holder"><div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>  </div>
  
   
    <div class="range"></div>
    <div class="brand">Ucell UZB</div>
    <div class="button-holder"><button class="all-button">All</button> <button class="missed-button">Missed</button></div>
    
    <div class="call-icon-top">
    
      
    </div>
  </div>
  <div class="search-bar">
    <input type="search" value="Search" class="search">
    <div class="search-icon">
    </div>
  </div>
  <div class="box">
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <div class="log" *ngFor="let log of callLogs">
      <div class="caller-name">{{log.callerName}}</div>
      <div class="device"> {{log.callerDevice}}</div>
      <div class="date">{{log.date}}</div>
      <div class="info-icon"><img src="{{log.imgPath}}"></div>
    </div>
    <!-- <div class="log">
      <div class="caller-name">Alexander</div>
      <div class="device"> mobile</div>
      <div class="date">29/7/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Carza Helden</div>
      <div class="device"> home</div>
      <div class="date">23/7/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-number">+61 821 62783672</div>
      <div class="device"> unknown</div>
      <div class="date">12/7/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-number">+61 844 77721795</div>
      <div class="device"> unknown</div>
      <div class="date">9/7/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Steven Swap</div>
      <div class="device"> mobile</div>
      <div class="date">23/7/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Linda Natasha</div>
      <div class="device"> mobile</div>
      <div class="date">23/7/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Aran Waing</div>
      <div class="device"> mobile</div>
      <div class="date">4/8/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Aran Waing</div>
      <div class="device"> mobile</div>
      <div class="date">4/8/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Aran Waing</div>
      <div class="device"> mobile</div>
      <div class="date">4/8/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Aran Waing</div>
      <div class="device"> mobile</div>
      <div class="date">4/8/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Aran Waing</div>
      <div class="device"> mobile</div>
      <div class="date">4/8/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div>
    <div class="log">
      <div class="caller-name">Aran Waing</div>
      <div class="device"> mobile</div>
      <div class="date">4/8/17</div>
      <div class="info-icon"><img src="/assets/info.svg"></div>
    </div> -->
    <div class="bottom-panel">
      <span class="user-icon"></span>
      <span class="message-icon"></span>
      <span class="call-icon"></span>
      <span class="settings-icon"></span>
    </div>

  </div>

</div>