<div class="log-container">
  <div class="top-panel">
    <div>
      <div class="percent">100%</div>
      <div class="battery"></div>
      <div class="time">9:41 AM</div>
      <div class="dot-holder">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="range"></div>
      <div class="brand">Ucell UZB</div>
      
      <div class="edit-close-icon"></div>
    </div>
    <div class="edit-chat-page">Edit chats</div>


  </div>

  <div class="box">
    <div class="edit-log">
      <div class="checkbox-circle-checked"></div>
      <div class="chatter-face"></div>
      <div class="message-box">
        <div class="chatperson-name">Linda Natasha</div>
        <div class="chat-time">12:10 AM</div>
        <div class="message-text">Lorem ipsum is simply dummy printing and typing text. Lorem ipsum has been ...</div>
        <div class="line"></div>
      </div>
    </div>
    <div class="edit-log">
        <div class="checkbox-circle-unchecked"></div>
        <div class="chatter-face"></div>
        <div class="message-box">
          <div class="chatperson-name">Linda Natasha</div>
          <div class="chat-time">12:10 AM</div>
          <div class="message-text">Lorem ipsum is simply dummy printing and typing text. Lorem ipsum has been ...</div>
          <div class="line"></div>
        </div>
      </div><div class="edit-log">
          <div class="checkbox-circle-unchecked"></div>
          <div class="chatter-face"></div>
          <div class="message-box">
            <div class="chatperson-name">Linda Natasha</div>
            <div class="chat-time">12:10 AM</div>
            <div class="message-text">Lorem ipsum is simply dummy printing and typing text. Lorem ipsum has been ...</div>
            <div class="line"></div>
          </div>
        </div><div class="edit-log">
            <div class="checkbox-circle-unchecked"></div>
            <div class="chatter-face"></div>
            <div class="message-box">
              <div class="chatperson-name">Linda Natasha</div>
              <div class="chat-time">12:10 AM</div>
              <div class="message-text">Lorem ipsum is simply dummy printing and typing text. Lorem ipsum has been ...</div>
              <div class="line"></div>
            </div>
          </div><div class="edit-log">
              <div class="checkbox-circle-unchecked"></div>
              <div class="chatter-face"></div>
              <div class="message-box">
                <div class="chatperson-name">Linda Natasha</div>
                <div class="chat-time">12:10 AM</div>
                <div class="message-text">Lorem ipsum is simply dummy printing and typing text. Lorem ipsum has been ...</div>
                <div class="line"></div>
              </div>
            </div><div class="edit-log">
                <div class="checkbox-circle-unchecked"></div>
                <div class="chatter-face"></div>
                <div class="message-box">
                  <div class="chatperson-name">Linda Natasha</div>
                  <div class="chat-time">12:10 AM</div>
                  <div class="message-text">Lorem ipsum is simply dummy printing and typing text. Lorem ipsum has been ...</div>
                  <div class="line"></div>
                </div>
              </div>
  </div>
  <div class="bottom-panel">
    <div><input type="button" value="DELETE" class="msg-delete-btn"></div>


  </div>

</div>