<!-- <app-page-a></app-page-a> -->
<!-- <app-page-b></app-page-b> -->
<!-- <app-page-c></app-page-c> -->
<!-- <app-page-d></app-page-d> -->
<!-- <app-page-e></app-page-e> -->
<!-- <app-page-f></app-page-f> -->
<!-- <app-page-g></app-page-g> -->
<!-- <app-page-h></app-page-h> -->
<!-- <app-page-i></app-page-i> -->
<button (click)="movePrev()" class="prevbtn">Prev</button>
<button (click)="moveNext()" class="nextbtn">Next</button>
<div class="prv"> <input type="button" value="&lt;" (click)="movePrev()"></div>
<div class="nxt"> <input type="button" value="&gt;" (click)="moveNext()"></div>
<router-outlet></router-outlet>