<div class="log-container">
  <div class="top-panel">
    <div>
      <div class="percent">100%</div>
      <div class="battery"></div>
      <div class="time">9:41 AM</div>
      <div class="dot-holder">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>  
      </div>
      <div class="range"></div>
      <div class="brand">Ucell UZB</div>
      <div class="left-angle-bracket"></div>
      <div class="Chat-person-name">Linda Natasha</div>
      <div class="online-status">online</div>
      <div class="face-circle"></div>
   </div>

      
  </div>
  
  <div class="box">
      <div class="log">
          <div class="conversation-left">Hay! How are you?<div class="arrow-left"></div></div>
      </div>
      <div class="log"> <div class="conversation-right">I'm fine. Did you work?<div class="arrow-right"></div></div>
      <div class="log"><div class="conversation-left">Yes.<div class="arrow-left"></div></div></div>
      <div class="log"><div class="conversation-left">I'm a designer<div class="arrow-left"></div></div></div>
      <div class="log"><div class="conversation-right">Awesome<div class="arrow-right"></div></div></div>
      <div class="log"><div class="conversation-right">Let us drink coffee together<div class="arrow-right"></div></div></div>
      <div class="log"><div class="conversation-left">Good idea<div class="arrow-left"></div></div></div>
      <div class="log"><div class="conversation-left">Ok<div class="arrow-left"></div></div></div>
    
    
    

  </div>
  <div class="bottom-panel">
    <div>
        <span class="camera-icon"></span>
        <span class="attach-icon"></span>
        <span class="type-here">Type message...</span>
        <div class="mic-round"></div>
        <span class="mic-icon"></span>
    </div>
      
    </div>

</div>