<div class="log-container">
  <div class="top-panel">
    <div>
       <div class="percent">100%</div>
       <div class="battery"></div>     
      <div class="time">9:41 AM</div>
      <div class="dot-holder"><div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>  </div>  
      <div class="range"></div>
      <div class="brand">Ucell UZB</div> 
    </div>
           
  </div>
  
  <div class="box">
    <div class="img-container">
        <div class="plus2"></div>
      <div class="plus1"></div>
      
      <div class="person-img"></div>
      <div class="message-with-text"></div>
      <div class="plus3"></div>

    </div>
    <div class="text-container">
      <div class="msg-head">Fast Messaging</div>
      <div class="chat-text">Chat app text messaging and powerful than any other application</div>
      
      <div class="ellipse-holder">
          <div class="filled-ellipses"></div>
          <div class="empty-ellipses"></div>
          <div class="empty-ellipses"></div>
      </div>
    </div>

    <div> 
      <button class="start-btn">LET'S START</button>
    </div>

  </div>

</div>