<div class="log-container">
  <div class="top-panel">
    <div>
      <div class="percent">100%</div>
      <div class="battery"></div>
      <div class="time">9:41 AM</div>
      <div class="dot-holder">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="range"></div>
      <div class="brand">Ucell UZB</div>

      <div class="contact-add-icon"></div>
    </div>
    <div class="contact-page">Contact</div>


  </div>
  <div class="search-bar">
    <input type="search" value="Search" class="search">
    <div class="search-icon">
    </div>
  </div>
  <div class="contactperson-box">
    <div class="contactperson-face"></div>
    <div class="contactperson-name">Linda Natasha</div>
    <div class="contactperson-number">+61 896 98587625</div>
  </div>
  <div class="contact-head">
    <div class="contact-head-text">Contact</div>
  </div>

  <div class="contact-list-container">
      <div class="contact-list-log">
        <div class="invite-add-icon"></div>
        <div class="invite-bar">Invite Friend</div>
        <div class="line"></div>
      </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Arla Waing</div>
      <div class="contactlist-number"> +61 854 97136521</div>
      <div class="line"></div>
    </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Alexander</div>
      <div class="contactlist-number">+61 822 63698795</div>
      <div class="line"></div>
    </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Carza Helden</div>
      <div class="contactlist-number">+61 857 15993422</div>
      <div class="line"></div>
    </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Steven Swap</div>
      <div class="contactlist-number">+61 822 63697825</div>
      <div class="line"></div>
    </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Christy</div>
      <div class="contactlist-number">+61 822 63696325</div>
      <div class="line"></div>
    </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Mathew</div>
      <div class="contactlist-number">+61 822 63697895</div>
      <div class="line"></div>
    </div>
    <div class="contact-list-log">
      <div class="contactlist-person-face"></div>
      <div class="contactlist-name">Erica Fernandes</div>
      <div class="contactlist-number">+61 822 63694879</div>
      <div class="line"></div>
    </div>
  </div>
  <div class="bottom-panel">
    <span class="user-icon"></span>
    <span class="message-icon"></span>
    <span class="call-icon"></span>
    <span class="settings-icon"></span>
  </div>

</div>