<div class="log-container">
  <div class="top-panel">
      <div>
        <div class="percent">100%</div>
        <div class="battery"></div>
        <div class="time">9:41 AM</div>
        <div class="dot-holder">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <div class="range"></div>
        <div class="brand">Ucell UZB</div>
      </div>
    <div class="setting-page">Setting</div>
    

  </div>
  <div class="contact-setting">
    <div class="contact-edit-view">
      <div class="setting-contactperson-face"></div>
      <div class="setting-person-name">Erica Fernandes</div>
      <div class="setting-person-number">+61 822 63694879</div>
    </div>
         
  </div>
  <div class="setting-container">
    <div class="profile-setting-box">
      <div class="setting-profile-log">
          <div class="right-arrow"></div>
          <div class="setting-text">Set Profile Photo</div>
          <div class="setting-line"></div>
      </div>
      <div class="setting-profile-log">
          <div class="right-arrow"></div>
          <div class="setting-text">Privacy and Security</div>
          <div class="setting-line"></div>
      </div>
      <div class="setting-profile-log">
          <div class="right-arrow"></div>
          <div class="setting-text">Data Storage</div>
          <div class="setting-line"></div>
      </div>
      <div class="setting-profile-log">
          <div class="right-arrow"></div>
          <div class="setting-text">Notifications</div>
      </div>
      <div> <button class="log-out">Log Out</button></div>
    </div>
  </div>

  
  <div class="bottom-panel">
    <span class="user-icon"></span>
    <span class="message-icon"></span>
    <span class="call-icon"></span>
    <span class="settings-icon"></span>
  </div>

</div>